<div class="container w-50 mb-5 mt-5 p-5 shadow">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/tasks">Task List</a></li>
          <li class="breadcrumb-item"><a routerLink="/tasks/taskdetails">Task Details</a></li>
          <li class="breadcrumb-item"><a>Edit Task</a></li>
        </ol>
      </nav>
    <h1 class="text-center text-danger">Edit Task Details</h1>
    <form>
        <input [(ngModel)]="data.title" type="text" class="form-control mt-3" name="title"
            placeholder="Task Title" id="title">
        <input [(ngModel)]="data.description" type="text" class="form-control mt-3" name="description"
            placeholder="description" id="description">
        <input [(ngModel)]="data.email" type="text" class="form-control mt-3" name="email" placeholder="Email"
            id="email">
        <input [(ngModel)]="data.taskstatus" type="text" class="form-control mt-3" name="taskstatus"
            placeholder="Status" id="taskstatus">
        <input [(ngModel)]="data.date" type="text" class="form-control mt-3" name="date" placeholder="Date"
            id="date">
    </form>
    <div class="mt-5">
        <button class="btn btn-success text-white me-2" (click)="updateTask()" style="border-radius: 10px;">Update</button>
        <button class="btn btn-warning text-white" routerLink="/tasks"
            style="border-radius: 10px;"><a>Cancel</a></button>
    </div>
</div>